<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandapd.quizgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pandapd.quizgame.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pandapd.quizgame.QuestionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pandapd.quizgame.QuestionActivity1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pandapd.quizgame.Options"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pandapd.quizgame.ResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pandapd.quizgame.QuestionActivity2"
            android:label="Quiz Game"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.pandapd.quizgame.QuestionActivity3"
            android:label="Quiz Game"
            android:screenOrientation="portrait"/>
    </application>
</manifest>